@{
    ViewBag.Title = "Acerca de Financiera Zafy";
}
<h2>@ViewBag.Title.</h2>

<div class="col-md-12">
    <p><strong>CERTEZA Y CONFIABILIDAD</strong><br>Puedes tener la certeza de estar contratando una empresa 100% confiable y totalmente reglamentada:</p>
    <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Empresa oficialmente facultada para ofrecer servicios financieros (SOFOM)</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dictaminada por la Comisión Nacional Bancaria y de Valores</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Al corriente con todas las obligaciones legales ante la CONDUSEF</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Entidad en cumplimiento en el Buró de Crédito de Entidades Financieras</li>
    </ul>
 </div>
<div class="col-md-12"><hr></div>
<div class="col-md-12">
    <p><strong>UNA EMPRESA CON VALORES</strong><br>nos esforzamos por que nuestro servicio esté fundamentado en 4 valores para que la experiencia de nuestros clientes sea de confianza y tranquilidad.</p>
    <center>
        <ul class="list-unstyled list-inline">
            <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> RESPETO</li>
            <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> TRANSPARENCIA</li>
            <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> INTEGRIDAD</li>
            <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> LIDERAZGO</li>
        </ul>
    </center>
    <p>Dentro de nuestra cartera de clientes se encuentran: <strong>Gobiernos Estatales, Municipios y Empresas dentro del rubro de:</strong> construcción, transporte, Manufactura, Servicios y otras.</p>
</div>
