@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    EN TORREÓN / MATRIZ<br />
    Blvrd. Constitución s/n, local 7 Plaza Florencia 
    Col. Amp. Los Ángeles.<br />
    <abbr title="Phone">></abbr>
    01 (871) 713 0450
</address>

<address>
    EN GUADALAJARA JALISCO<br />
    Av. Las Américas 1545, Torre HSBC Piso 23 of. 2312 
    Col. Providencia.<br />
    <abbr title="Phone">></abbr>
    01 (33) 8000 0432
</address>

<address>
    EN MONTERREY<br />
    Doctor Coss 891 Sur,
    Col. Centro.<br />
    <abbr title="Phone">></abbr>
    01 (81) 8340 0123
</address>

<address>
    EN PIEDRAS NEGRAS<br />
    San Luis 1400, local 5-A Fracc.
    Country House.<br />
    <abbr title="Phone">></abbr>
    01 (878) 782 1165
</address>

<address>
    EN ZACATECAS<br />
    Av. Universidad No. 230-3
    Col. Hidráulica.<br />
    <abbr title="Phone">></abbr>
    01 (492) 156 03 79 / 01 (492) 156 03 78
</address>

<address>
    <strong>Correo Electrónico:</strong> <a href="mailto:contacto@financierazafy.com.mx">contacto@financierazafy.com.mx</a><br />
</address>