@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <img src="~/Content/img/logo2.png" width="200"/>
    <p class="lead">EN TODA ACTIVIDAD productiva y laboral hay momentos en que la posibilidad de un apoyo financiero, 
    ya sea por razones personales, de salud o empresariales, puede ser decisiva para enfrentarlas o no. Estas situaciones, 
    en la mayoría de los casos, llegan sin avisar o bien nunca se presentan en las condiciones perfectas para afrontarlas y 
    pueden llevarnos a momentos de angustia; a una búsqueda infinita de apoyo confiable y efectivo.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿QUIÉNES SOMOS?</h2>
        <p>
            SOMOS UNA EMPRESA 100% MEXICANA fundada en el año 2010 y constituida como una Sociedad Financiera de objeto Múltiple, (SOFOM, ENR), 
            especializada en préstamos directos con descuento vía nómina y servicios de arrendamiento. contamos con todos los registros correspondientes
        </p>
    </div>
    <div class="col-md-4">
        <h2>ZAFY / DIVISIÓN CRÉDITO</h2>
        <p>Financiamos a trabajadores y sus familias cuando requieran iniciar nuevos proyectos o simplemente para cubrir con oportunidad y mayor facilidad 
        sus compromisos crediticios, familiares o imprevistos: accidentes, gastos médicos, educación, vivienda temporal, etcétera.</p>
    </div>
    <div class="col-md-4">
        <h2>ZAFY / DIVISIÓN ARRENDAMIENTO</h2>
        <p>tenemos la solidez financiera para adquirir los bienes que necesitas para emprender los proyectos que tienes en mente. nos ponemos de tu parte, 
        para que juntos y con el respaldo económico correcto, alcances las metas que te has trazado.</p>
    </div>
</div>